<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let user"> {{user.user}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Names Column -->
    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef>Nombres</th>
      <td mat-cell *matCellDef="let user"> {{user.names}} </td>
    </ng-container>

    <!-- Surnames Column -->
    <ng-container matColumnDef="surnames">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let user"> {{user.surnames}} </td>
    </ng-container>

    <!-- IsActive Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Activo?</th>
      <td mat-cell *matCellDef="let user"> {{user.isActive}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-fab color="primary" (click)="onDetail(user)">
          <mat-icon>input</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="onEdit(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>