<h1>Usuarios</h1>
<form [formGroup]="userIndexForm">
    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input formControlName="user" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input formControlName="names" matInput >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input formControlName="surnames" matInput>
    </mat-form-field>
    <div class="button-group">
        <button mat-fab color="primary" (click)="openCreateUser()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</form>

<app-user-list [onSearch]="searchSubject.asObservable()" [onCreate]="createSubject.asObservable()"></app-user-list>
